<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="DocX" version="2.1.0" targetFramework="net472" />
  <package id="EPPlus" version="5.8.8" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Access" version="15.0.4420.1017" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="Xceed.Document.NET" version="2.2.22101.20240" targetFramework="net472" />
  <package id="Xceed.Pdf" version="2.2.22101.20240" targetFramework="net472" />
  <package id="Xceed.Words.NET" version="2.2.22101.20240" targetFramework="net472" />
</packages>